{% extends 'base.html.twig' %}

{% block title %}Add Experience{% endblock %}

{% block body %}
<h1>Add new experience</h1>
{{ form_start(form) }}
    {{ form_row(form.jobName) }}
    {{ form_row(form.startedAt) }}
    {{ form_row(form.endAt) }}
    {{ form_row(form.notEnd) }}
    {{ form_row(form.description) }}

    <button type="submit" class="btn">Add experience</button>
{{ form_end(form) }}
{% endblock %}