{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
    <h1>My profil</h1>
    <h1>{% if user.isAdmin %}Administrator{% elseif user.isCollab %}Collaborator{% else %}SalesMan{% endif %}</h1>
    <p>{{ user.firstName }} {{ user.lastName }}</p>
    <p>mail : {{ user.email }}</p>
    {% if user.status %}
        Is available : Yes
    {% else %}
        Is available : No
    {% endif %}

    <h1>My experiences</h1>
        {% if exps is not empty %}
            {% for exp in exps %}
                <h3>{{ exp.jobName }}</h3>
                <p><em>Started at {{ exp.startedAt | date('m/d/Y') }}</em></p>
                <p>{{ exp.description }}</p>
            {% endfor %}
            <p><a href="{{ path('app_add_exp') }}">Add an another experience</a></p>
        {% else %}
            No experiences added. <br>
            <p><a href="{{ path('app_add_exp') }}">Add an experience</a></p>
        {% endif %}

    <h1>My skills</h1>
        {% if user.skills is not empty %}
            <ul>
                {% for skill in user.skills %}
                    <li>{{ skill.name }}</li>
                    <p><a href="{{ path('app_update_skill', {id: skill.id}) }}">Update skill</a></p>
                {% endfor %}
            </ul>
            <p><a href="{{ path('app_add_skill') }}">Add an another skill</a></p>
        {% else %}
            No skills added
            <p><a href="{{ path('app_add_skill') }}">Add a skill</a></p>
        {% endif %}

    <h1>My missions</h1>
    {% if user.mission is not empty %}
        <ul>
            {% for missions in user.mission %}
                <li>{{ missions.jobName }}</li>
            {% endfor %}
        </ul>
        <p><a href="{{ path('app_add_mission') }}">Add an another mission</a></p>
    {% else %}
        No mission added
        <p><a href="{{ path('app_add_mission') }}">Add a mission</a></p>
    {% endif %}
{% endblock %}